{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar endereço</title>
    <link rel="stylesheet" href="{% static '/global/style.css' %}">
</head>

<body>
    <header>
        <h1>Adicionar Endereço</h1>
        <button class="voltar" onclick="history.back()">Voltar</button>
    </header>
    <main>
        <form class="formulario" action="{% url 'enderecos' %}" method="post" autocomplete="off">{% csrf_token %}
            <input type="text" name="titulo" placeholder="Título">
            <input type="text" id="cep" name="cep" placeholder="cep" maxlength="9">
            <p id="msg" style="color:red"></p>
            <input type="text" id="logradouro" name="logradouro" placeholder="Logradouro">
            <input type="text" id="bairro" name="bairro" placeholder="Bairro">
            <input type="text" id="cidade" name="cidade" placeholder="Cidade">
            <input type="text" id="uf" name="estado" placeholder="Estado">
            <input type="number" id="numero" name="numero" placeholder="Numero">
            <input type="text" id="complemento" name="complemento" placeholder="Complemento">
            <input type="text" id="cliente" name="cliente" placeholder="Cliente">
            <input type="submit" value="Confirmar">
        </form>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous">
    </script>

<!-- Adicionando Javascript -->
<script src="{% static '/endereco/scripts.js' %}"></script>

</html>