{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Cliente</title>

    <link rel="stylesheet" href="{% static '/clientes/style.css' %}">
    <link rel="stylesheet" href="{% static '/global/style.css' %}">
</head>

<body>
    <header>
        <h1>Cadastro de cliente</h1>
        <button class="voltar" onclick="history.back()">Voltar</button>
    </header>

    <main>
        <form class="formulario" action="{% url 'cadastro_cliente' %}" method="post">{% csrf_token %}
            <input type="text" name="nome" placeholder="Nome">
            <input type="text" name="cpf" placeholder="CPF">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="telefone" placeholder="Telefone">

            <input type="submit" value="Confirmar">
        </form>
    </main>

</body>

</html>